[features]
seeds = false
skip-lint = false

[programs.localnet]
escrow = "FSZLWNceNe6DJRFkw2kvSTsSMjdTeBP2n2iaMfn3Uhxk"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npm test"

